<div class="datagrid_container" id="datagrid_container">
    <div class="buttonBar" id="datagridBar">
        <span class="ui-icon icon_geof_search iconRight" id="btnDatagridFilter" title="Filter Records"></span>
        <input type="text" spellcheck="false" id="dgFilterText" class="floatRight filter_text" disabled/>
        <label class="filter_text floatRight">Search</label>

        <span class="ui-icon icon_geof_camera_enable iconRight" id="btnGdgShowPhoto" title="Show photo on selection"></span>
        <span class="ui-icon icon_geof_location_enable iconRight" id="btnGdgShowGMap" title="Show map on selection"></span>
    </div>
    <table id="geofdatagrid" class='datagrid'></table>
    <div id="dv_pager"></div>
</div>
