<div class="view" id="full_view">
    <div class="buttonBar">
        <label class="font_10 floatLeft">Search</label>
        <select id="sltFullSearches" class="fullview floatLeft"></select>
        <span class="ui-icon icon_geof_refresh_enable iconLeft" id="btnFullRefreshSearch" title="Reload Searches"></span>
        <span class="ui-icon icon_geof_search iconLeft" id="btnRunFullSearch" title="Run Search"></span>
        <label id="fullResultsCount" class="fullSearchResults"/>
        <hr class="vertical_bar floatLeft">
        <label class="font_10 flw40 floatLeft">Media</label>
        <label id="fullMediaList" class="searchMediaList"/>
        <span class="ui-icon icon_geof_cancel_enable iconLeft" id="btnClearFullSearchMedia" title="Clear Search Media"></span>
    </div>

    <div class="searchResults" id="fullResultsView"></div>

    <div id="fullMediaTypes" class="mediaTypePopup">
        <input type="checkbox" name="fullMediaTypesCB" value="0"/> Photo<br>
        <input type="checkbox" name="fullMediaTypesCB" value="1"/> Video<br>
        <input type="checkbox" name="fullMediaTypesCB" value="5"/> Track<br>
        <input type="checkbox" name="fullMediaTypesCB" value="2"/> Audio<br>
        <input type="checkbox" name="fullMediaTypesCB" value="3"/> Doc
    </div>

</div>
