<div id="gmapDialog" title="Google Map Viewer" class="gmapDialog">
    <div class="buttonBar" id="gmapviewerBar">
        <span class="ui-icon icon_geof_map_enable iconLeft" id="btnGmapDrawExtent" title="Draw Extent"></span>
        <span class="ui-icon icon_geof_place_enable iconLeft" id="btnGmapDrawPoint" title="Select Point"></span>
        <span class="ui-icon icon_geof_pin iconLeft" id="btnGmapClosestPoint" title="Mark closest track point"></span>
        <span class="ui-icon icon_geof_crop iconLeft" id="btnGmapCropTrack" title="Highlight section of track"></span>
        <label class="stdLabelRight" id="gmap_pointinfo"></label>
        <label id="Gmap_extent_point" class="extent_point"></label>
    </div>
    <div id="mapHolder" class="mapHolder"></div>
</div>
