<div id="map_video_dialog" class="map_video">
    <span class="ui-icon icon_geof_pin iconLeft" id="btnGmapClosestPoint" title="Mark closest track point"></span>
    <div id="vmap_holder" class="mapPlugin"></div>

    <div class="mediaPlugin">
        <div id="media_plugin" class="floatLeft"></div>
        <div class="media_cntrl floatRight">
            <div class="buttonBar">
                <span class="ui-icon icon_geof_gps_found iconLeft" id="btnSyncVideoToTrack" title="Sync Video To Track"></span>
                <span class="ui-icon icon_geof_discard iconLeft" id="btnDiscardVideoTrack" title="Remove Track from Video"></span>
                <span class="ui-icon icon_geof_zoomin iconLeft" id="btnZoomToTrack" title="Zoom to Track"></span>
            </div>
        </div>
    </div>
</div>
