<div id="videoDialog" class="fileDialog" >
    <div class="floatLeft">
        <div class="buttonBar">
            <span class="ui-icon icon_geof_tag_enable iconRight" id="btnToggleAnnotation" title="Display Annotations"></span>
        </div>
        <video id="videoPlayerPopup" controls class="w640" ></video>
    </div>
    <div class="annotationBorder" id="annotationDiv">
        <div class="buttonBar">
            <span class="ui-icon icon_geof_new_enable iconLeft ml14" id="btnNewAnnotation"  title="Add new Annotation"></span>
            <span class="ui-icon icon_geof_edit iconLeft" id="btnEditAnnotation"  title="Edit Annotation"></span>
            <span class="ui-icon icon_geof_discard iconLeft" id="btnDiscardAnnotation" title="Remove selected Annotation"></span>
            <span class="ui-icon icon_geof_selectAll iconLeft" id="btnSelectAllAnnotation" title="Select all Annotation"></span>
            <span class="ui-icon icon_geof_deselectAll iconLeft" id="btnDeselectAllAnnotation" title="Deselect all Annotation"></span>
        </div>
        <label class="sectionHeader">Annotations</label>
        <div class="annotationItems" id="">
            <ol id="olAnnotations" class="OlStdSelect2"></ol>
        </div>
    </div>
</div>
