<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

    <display-name>
        Dopple 
		</display-name>
    <description>
        Dopple Demo Management 
    </description>

	<servlet>
		<servlet-name>dpl</servlet-name>
		<servlet-class>org.geof.service.GeofHttpServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>dpl</servlet-name>
		<url-pattern>/dpl/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>dplreg</servlet-name>
		<servlet-class>org.geof.service.GeofHttpServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>dplreg</servlet-name>
		<url-pattern>/dplreg/*</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>
			 org.geof.service.DoppleContextListener
		</listener-class>
	</listener>

</web-app>
